body {
    background-color: rgb(64, 64, 177);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 80vh;
    width: 50vw;
    background-color: rgb(49, 46, 46);
    border-radius: 10px;
    padding: 0;
    overflow: scroll;
}

@media only screen and (max-width: 576px) {
    .box {
        height: 90vh;
        width: 85vw;
    }
}

@media only screen and (max-width: 768px) {
    .box {
        height: 90vh;
        width: 85vw;
    }
}

.bubble {
    background-color: rgb(88, 86, 86);
    border-radius: 10px;
    margin: 25px 20px;
    padding: 15px;
}

.bubbleText {
    color: white;
    font-size: 18px;
}

.bubbleTextSenderName, .bubbleTextDateTime {
    font-size: 10px;
    color: rgb(156, 151, 151);
    margin-right: 5px;
}

.chat-feed {
    height: 85%;
}

.message-area {
    background-color: white;
    height: 15%;
}

.btn-row {
    width: 100%;
    position: inherit;
    height: 50px;
    display: flex;
    justify-content: end;
}

.send-btn {
    position: absolute;
    border: 2px solid white;
    margin-top: 10px;
    width: 15%;
    color: white;
}

#username-input {
    height: 100%;
}

#message-input {
    height: 100%;
    width: 100%;
}